<!-- https://github.com/HectorMC/AngularJS.git -->
<!DOCTYPE html>
<html ng-app="todoApp">
	<head>
		<title>First Test</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<script>
			var model = {
				user: "Adam",
				items:[ {action: "Buy Flowers", done:false},
					    {action: "Get Shoes", done:false},
						{action: "Collect Tickets", done:true},
						{action: "Call Joe", done:false}]
						
			};

			var todoApp = angular.module("todoApp",[]);


			todoApp.filter("checkedItems", function() {
				return function (items, showComplete){
					var resultArr = [];
					angular.forEach(items, function(item) {
						if (item.done == false || showComplete == true){
							resultArr.push(item);
						}
					});
					return resultArr;
				}
			});

			todoApp.controller("ToDoCtrl",function ($scope){
				$scope.todo = model;

				$scope.incompleteCount = function(){
					var count = 0;
					angular.forEach($scope.todo.items, function(item) {
						if (!item.done) {
							count++;
						}
					});
					return count;
				}

				$scope.warningLevel = function(){
					return $scope.incompleteCount() < 3 ? "label-success" : "label-warning"
				}

				$scope.AddNewItem = function(actionText) {
					$scope.todo.items.push({action: actionText, done: false});
				}
			});
		</script>
	</head>
	<body ng-controller="ToDoCtrl">
		<div class="page-header">
			<h1>{{todo.user}}'s To Do List</h1>
			<!--span class="label label-default">{{todo.items.length}}</span> -->
			<!--span class="label label-default" ng-hide="incompleteCount() == 0">
				{{incompleteCount()}} 
			</span-->
			<span class="label label-default" ng-class="warningLevel()" ng-hide="incompleteCount() == 0"> <!-- Codigo que actualiza el warning -->
				{{incompleteCount()}} 
			</span>

		</div>
		<div class="panel"> 

			<div class="input-group">
				<!--
				<input class="form-control"/>
				<span class="input-group-btn"> 
					<button class="btn btn-default">Add</button>
				</span>
				-->
				<input class="form-control" ng-model="actionText"/> <!-- Agrega información a la lista -->
				<span class="input-group-btn"> 
					<button class="btn btn-default"
						ng-click="AddNewItem(actionText)">Add</button>
				</span>

			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Description</th>
						<th>Done</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in todo.items | checkedItems:showComplete | orderBy:'action'"><!-- -->
					<!--tr ng-repeat="item in todo.items | filter:{done: false} | orderBy: 'action'"> <!-- 1.1 Filtra la informacion por el valor de false -->
					<!--tr ng-repeat="item in todo.items" --> <!-- 1.0 con esta opcion iniciamos -->
						<td>{{item.action}}</td>
						<td><input type="checkbox" ng-model="item.done"/></td>
						<td>{{item.done}}</td>
					</tr>
				</tbody>				
			</table>

			<div class="checkbox-inline">
				<label><input type="checkbox" ng-model="showComplete">Show Complete</label>
			</div>
		</div>
	</body>
</html>